/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lexend", sans-serif;
}
/* nav section code start here  */
#check{
    display: none;
}
.menu-btn{
    color: rgb(83, 223, 48);
    font-size: 22px;
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 50px;
    width: 100%;
    height: 75px;
    background-color: rgb(29, 23, 23);
}
nav h3{
    color: rgb(83, 223, 48);
    font-size: 25px;
    text-transform: uppercase;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    padding: 0px 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    padding: 7px 13px;
    border-radius: 5px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: rgb(83, 223, 48);
}
nav ul li a.active{
    background-color: rgb(83, 223, 48);
}
/* nav section end here  */

/* header section code start here  */
.banner{
    background-image: url("images/pexels-achim-bongard-87217-352096\ \(1\).jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



/* header section code end  here  */

/* main section code start here  */

.first-section{
    background-color: rgb(29, 23, 23);
    padding: 50px;
}
.section-titel{
    width: auto;
    text-align: center;
    color: rgb(83, 223, 48);
    font-size: 27px;
    letter-spacing: 0.2em;
    font-weight: bold;
}
.service-parent{
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px 0;
}
.single-service{
    text-align: center;
    border: 1px solid rgb(83, 223, 48);
    border-radius: 5px;
}
.service-parent i{
    color: rgb(83, 223, 48);
    font-size: 30px;
    padding-top: 10px;
}
.single-service h2{
    color: white;
    font-weight: 500;
    padding: 10px 0;
}
.single-service p{
    color: rgb(177, 173, 173);
    font-weight: 200;
    padding-bottom: 10px;
}

/* main section code end  here  */


/* nav bar responsive code start here  */

@media only screen and (max-width: 940px){
    .menu-btn{
        display: block;
    }
    #check:checked ~ ul{
        left: 0%;
    }
    #check:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        background-color: rgb(29, 23, 23);
        top: 75px;
        left: -100%;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        transition: all 0.5s ease;
    }
    nav ul li{
        margin: 10px 0;
    }
    nav ul li a:hover, nav ul li a.active{
        background: none;
        color: rgb(83, 223, 48);
    }
}
/* nav bar responsive code end here  */

/* main section respensive code start here  */

@media only screen and (max-width: 688px){
    .service-parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-gap: 10px;
    }
    .single-service{
        margin: 10px 0;

    }
}
@media only screen and (min-width: 689px) and (max-width: 1099px){
    .service-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-gap: 20px;
    }

}


/* main section respensive code end here  */